<!doctype html>
<html lang="en">
    <head>
        <title>Chosse Your Own Adventure</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body style="background-color: cornsilk">
        <div class="container border border-5 mt-4 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6"><h1 style="text-align: center">{{.Title}}</h1></div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <ul>
                    {{range .Story}}
                        <p>{{.}}</p>
                    {{end}}
                </ul>
            </div>
            <div>
                <ul class="row">
                    {{range .Options}}
                        <div class="col">
                            <div class="card">
                                <a class="btn btn-primary" href={{.Arc}}>
                                    <p class="card-text">{{.Text}}</p>
<!--                                    <a >Click Here</a>-->
                                </a>
                            </div>
                        </div>
                    {{end}}
                </ul>
            </div>
        </div>
    </body>
</html>